# Ignore the data and output
# Data and Confidential PDFs
data/*.pdf
data/**/*.pdf
data/
__pycache__/
.env

# Ignore IDE specific files
.vscode/
.idea/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/
venv/
.venv/